<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Year Music Controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="./controller.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
        <div ng-controller="AppController as app" class="container container-fluid">
            <h1>Feliz 2019!!!</h1>
            <br>
            <form ng-submit="app.search()" >
                <div class="form-group">
                    <label for="exampleInputEmail1">Pesquisar Música</label>
                    <div class="input-group mb-1">
                        <input ng-model="app.term" class="form-control" id="term" placeholder="Insira o nome da música">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><span class="fas fa-search"></span> Pesquisar</button>
                        </div>
                    </div>
                </div>
            </form>
            <div style="display: flex; margin: 5px 0px">
                <button 
                    style="margin: 0.3em" 
                    ng-repeat="num in app.nums" 
                    class="btn btn-sm btn-outline-primary" 
                    ng-click="app.choose(num)">{{num}}</button>
            </div>
            <div ng-click="app.fullscreen()" id="fullscreen" class="btn btn-primary"><span class="fas fa-expand"></span> Tela Cheia</div>
            <div ng-click="app.next()" id="next" class="btn btn-primary"><span class="fas fa-step-forward"></span> Próxima</div>
            <br>
            <div style="display: inline-grid;">
                <div style="margin: 3px" ng-click="app.scroll('up')" class="btn btn-primary"><span class="fas fa-arrow-up"></span> Cima</div>
                <div style="margin: 3px" ng-click="app.scroll('down')" class="btn btn-primary"><span class="fas fa-arrow-down"></span> Baixo</div>
            </div>
        </div>    
</body>
</html>